.portfolioProject {
    position: relative;
    height: 200px;
    width: 200px;
}

.projectImage {
    height: inherit;
    width: inherit;
}

.projectLink {
    height: 100%;
    max-width: inherit;
}


.projectNamePanel {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
}
